/* * {
    box-sizing: border-box;
} */
body {
    background-color: #ccc;
    margin: 0;
}

.navbar {
    padding: 20px;
    background-color: white;
    text-align: center;
    
    }

.navLinks {
    margin: 10px;
    font-size: 16px;
    color: black;
    
}

.container {
    display: flex;
    width: 60%;
    margin: 20px auto;
    
    flex-wrap: wrap;
}

.container > div {
    flex: 1 1 40%;
    background-color: white;
    padding: 10px 20px;
    margin: 10px;
}

