/* * {
    box-sizing: border-box;
} */
body {
    background-color: #ccc;
    margin: 0;
}

.navbar {
    padding: 20px;
    background-color: white;
    text-align: center;
    
    }

.navbar > form {
    display: inline-block;
}

.navLinks {
    margin: 10px;
    font-size: 16px;
    color: black;
    
}

.container {
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top:20px;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    gap: 10px;
}

.container > div {
    flex: 1 1 40%;
    background-color: white;
    padding: 10px 20px;
    
}

.heading {
    width: 60%;
    background-color: white;
    margin: 10px auto;
    text-align: center;
    padding: 10px 0;
}

.pagination {
    width: 60%;
    margin: 10px auto;
    background-color: white;
    text-align: center;
    padding: 10px 0;
}

.pagination > button {
    font-size: 16px;
    /* margin: 5px; */
    margin: 0 auto;
}
